<launch>
    <node pkg="gvom" type="gsvom_ros.py" name="gsvom_ros" output="screen">
    	<remap from="~cloud" to="/gt_box/hesai/points" />
    	<remap from="~odom" to="/gt_box/inertial_explorer/odometry" />
    	<remap from="~segmented_image" to="/gt_box/hdr_front/segmentation/segmented_image" />
    	<remap from="~camera_info" to="/gt_box/hdr_front/segmentation/camera_info" />
    	
    	<param name="~odom_frame" value="enu_origin"/>
    	<param name="~vis_storage_path" value="/home/hebcak/ros_data"/>
    	
        <param name="~association_model_type" value="v7"/>
        <param name="~association_model_weights_path" value="$(find gvom)/model_weights/model_v7_trained_w_mlp.pt"/>
        <param name="~geometric_feature_type" value="mlp"/>
        <param name="~feature_extractor_weights_path" value="$(find gvom)/model_weights/v7_mlp_features_trained.pt"/>
    </node>
</launch>
