<launch>
    <node pkg="gvom" type="gvom_ros.py" name="gvom_ros" output="screen">$
        <rosparam file="$(find gvom)/config/params.yaml" command="load" />
        <remap from="~cloud" to="/point_cloud_filter/lidar/point_cloud_filtered" />
        <remap from="~odom" to="odom_o3d" />
    </node>
</launch>
